
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background-image: url('../public/images/background-mobile.svg');
  background-repeat: no-repeat;
  background-color:#c4d2ff;
}